* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

h1 {
    color: #1e293b;
    margin-bottom: 10px;
}

p {
    color: #475569;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1d4ed8;
}
